@using Logic.Models
@{
    ViewData["Title"] = "Home Page";
    IEnumerable<WerknemerViewModel> werknemers = ViewData["Werknemers"] as IEnumerable<WerknemerViewModel>;
    IEnumerable<RouteViewModel> routes = ViewData["Routes"] as IEnumerable<RouteViewModel>;
}

<div class="justify-content-center col-sm-12 col-md-8 mx-5">
    <div class="row">
        <div class="col col-xs-6 routes">
            <table class="table table-striped custab px-3">
                <thead>
                    <tr>
                        <th>RouteNummer</th>
                        <th>Datum</th>
                        <th>Totaal Uur</th>
                    </tr>
                </thead>
                @foreach(RouteViewModel route in routes)
                {
                    <tr>
                    <td>@route.RouteNummer</td>
                    <td>@route.Datum.Date.ToString("dd/MM/yyyy")</td>
                    <td>@route.AantalUur</td>
                    </tr>  
                }
            </table>
        </div>
        <div class="col custyle">
            <table class="table col-xs-6 table-striped custab mx-5 mx-auto">
                <thead>
                    <tr>
                        <th>Naam</th>
                        <th>Werknemernummer</th>
                        <th>Telefoonnummer</th>
                    </tr>
                </thead>
                @foreach(WerknemerViewModel werknemer in werknemers)
                {
                    <tr>
                    <td>@werknemer.Naam</td>
                    <td>@werknemer.WerknemerNummer</td>
                    <td>@werknemer.TelefoonNummer</td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>
